<p><%= simple_form_for @restaurant do |r| %></p>
<p><%= r.input :name %></p>
<p><%= r.input :address %></p>
<p><%= r.input :phone_number %></p>
<p><%= r.input :category , collection: ["chinese", "italian", "japanese", "french", "belgian"]%></p>
<p><%= r.button :submit, class: "btn btn-primary" %></p>
<% end %>
